.navbar {
    @apply max-w-[100%] overflow-hidden fixed;
    background-color: #F9F9F9;
    width: 1440px;
    height: 98px;
    .bar {
        @apply flex h-[64px] w-[1200px] pt-[20px] pl-[120px] justify-between;

        &_img{
            @apply mr-[24px];
        }
        
        &_li {
            @apply flex gap-[24px] pt-[20px] w-[475px];
        }
    
        &_end {
            @apply flex w-[321px] h-[49px] gap-[12px];

            .h21 {
                @apply w-[162px] h-[49px] rounded-[24px] gap-[10px] text-white text-center py-3;
                font-weight: 600;
                font-size: 13px;
                // padding: 15px, 24px, 15px, 24px;
                background-color: #20888F;
            }
            .h22 {
                @apply w-[147px] h-[49px] rounded-[24px] gap-[10px] text-white text-center py-3;
                font-weight: 600;
                font-size: 13px;
                // padding: 15px, 24px, 15px, 24px;
                background-color:  #303030;
                ;
            }
        }
    }
}
